version: '2'
services:
  bot:
    build: .
    cpu_shares: 73
    networks:
      - electron_is_net
    volumes:
      - /home/deploy/electron_is/src/config.toml:/config.toml
      - /home/deploy/electron_is/image:/image
      - /home/deploy/electron_is/uploaded_files:/uploaded_files
    ports:
      - "3091:3091"
    depends_on:
      - postgres

  postgres:
    image: postgres:12
    networks:
      - electron_is_net
    volumes:
      - /home/deploy/electron_is/postgres/volume:/var/lib/postgresql/data
      - /home/deploy/electron_is/postgres/logs:/logs
    ports:
      - "5646:5432"
    command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c max_connections=200
    environment:
      POSTGRES_PASSWORD: ktulhu77

networks:
  electron_is_net:
    driver: bridge