docType = "Time"
tableComment = "время"

tableName ="time"

fields = [
	{name="id",			type="serial"},
	{name="title",					type="text",	 comment="название"},
	{name="effort",					type="int", 	ext=" default 0",	 comment="полезная нагрузка"},
	{name="state_id",					type="int", 	ext=" default 1",	 comment="статус"},
	{name="start_time",					type="timestamp",	 comment="начало"},
	{name="end_time",					type="timestamp",	 comment="завершение"},
	{name="executor_id",					type="int",	 comment="исполнитель"},
	{name="system_id",					type="int",	 comment="система"},
	{name="work_id",					type="int",	 comment="работа"},
	{name="description",					type="text",	 comment="описание"},
	{name="search_text",			type="text",	comment="колонка для поиска"},
	{name="options",				type="jsonb",	comment="разные дополнительные параметры"},
	{name="created_at",				type="timestamp",	ext="with time zone"},
	{name="updated_at",				type="timestamp",	ext="with time zone"},
	{name="deleted",				type="bool",	ext="not null default false"}
]

fkConstraints = [
	{fld="state_id", ref="ctlg_time_state", fk="id"},
	{fld="executor_id", ref="man", fk="id"},
	{fld="system_id", ref="system", fk="id"},
	{fld="work_id", ref="work", fk="id"}
]

triggers = [
	{name="time_created", when="before insert or update", ref="for each row", funcName="builtin_fld_update"},
	{name="time_trigger_before", when="before insert or update", ref="for each row", funcName="time_trigger_before"},
	{name="time_trigger_after", when="after insert or update", ref="for each row", funcName="time_trigger_after"}
]



methods = [
	"time_list",
	"time_update",
	"time_get_by_id",
	"time_trigger_before",
	"time_trigger_after"
]

alterScripts = [
	"alter table time add column if not exists title text;",
	"alter table time add column if not exists effort int;",
	"alter table time add column if not exists state_id int;",
	"alter table time add column if not exists start_time timestamp;",
	"alter table time add column if not exists end_time timestamp;",
	"alter table time add column if not exists executor_id int;",
	"alter table time add column if not exists system_id int;",
	"alter table time add column if not exists work_id int;",
	"alter table time add column if not exists description text;",
	"alter table time add column if not exists search_text text;"
]